body{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 20%;
    
}

.form-input{
    width: 15rem;
    text-align: center;
    border-radius: 8px;
    border-color: black;
    height: 2.5rem;
}

.form-input-btn{
    width: 10rem;
}

#countdown {
 padding: 3rem;
 font-size: 5rem;   
}